{% extends "reservation/base.html" %}

{% block title %}部屋{% endblock title %}

{% block content %}

<h1 class="mt-4">{{ room.name }}</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">ゼミ室一覧</a></li>
    <li class="breadcrumb-item active">{{ room.name }}</li>
</ol>
<div class="mb-5">
    <div id="calendar"></div>
</div>
<div class="row mb-5">
    <div class="col text-end">
        <a href="#" id="cancelBtn" class="btn btn-secondary disabled">予約をキャンセルする</a>
    </div>
    <form class="col" action="" method="POST">
        {% csrf_token %}
        <button id="confirmBtn" type="submit" class="btn btn-primary disabled">予約を確認する</button>
    </form>
</div>            

{% endblock content %}

{% block script %}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            allDaySlot: false,
            height: 500,
            timeZone: 'Asia/Tokyo',
            locale: 'ja',
            buttonText: {
                    today:    '今日',
            },
            slotMinTime: '08:00:00',
            slotMaxTime: '19:00:00',
            slotDuration: '00:30:00',
            // businessHours: true,
            selectable: true,
            selectOverlap: false,
            select: function(info) {
                const reservationTitle = prompt('使用用途を入力してください。');
                if (reservationTitle) {
                    calendar.addEvent({
                        title: reservationTitle,
                        start: info.start,
                        end: info.end,
                    });
                };
            },
        });
        calendar.render();
    });
</script>

{% endblock script %}
