
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            {% for room in room_list %}
            <a class="nav-link" href="{% url 'room' room.pk %}">
                {{ room.name }}
            </a>
            {% endfor %}
            {% if room_list %}
            <a class="nav-link add-button" href="{% url 'add_room' %}">＋　部屋の追加</a>
            {% endif %}
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">ログインユーザー</div>
        {{ user }}
    </div>
</nav>
